In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.linear_model import LinearRegression

In [2]:
col= ['symboling','normalized_losses','make','fuel_type','aspiration','num_of_doors','body_style','drive_wheels','engine_location','wheel_base','length','width','height','curb_weight','engine_type','num_of_cylinders','engine_size','fuel_system','bore','stroke','compression_ratio','horsepower','peak_rpm','city_mpg','highway_mpg','price']
car_df = pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",names = col)

In [3]:
car_df.head()

,symboling,normalized_losses,make,fuel_type,aspiration,num_of_doors,body_style,drive_wheels,engine_location,wheel_base,...,engine_size,fuel_system,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500
2,1,?,alfa-romero,gas,std,two,hatchback,rwd,front,94.5,...,152,mpfi,2.68,3.47,9.0,154,5000,19,26,16500
3,2,164,audi,gas,std,four,sedan,fwd,front,99.8,...,109,mpfi,3.19,3.40,10.0,102,5500,24,30,13950
4,2,164,audi,gas,std,four,sedan,4wd,front,99.4,...,136,mpfi,3.19,3.40,8.0,115,5500,18,22,17450

In [4]:
car_df.shape

(205, 26)

In [5]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 26 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   symboling          205 non-null    int64
 1   normalized_losses  205 non-null    object
 2   make               205 non-null    object
 3   fuel_type          205 non-null    object
 4   aspiration         205 non-null    object
 5   num_of_doors       205 non-null    object
 6   body_style         205 non-null    object
 7   drive_wheels       205 non-null    object
 8   engine_location    205 non-null    object
 9   wheel_base         205 non-null    float64
 10  length             205 non-null    float64
 11  width              205 non-null    float64
 12  height             205 non-null    float64
 13  curb_weight        205 non-null    int64
 14  engine_type        205 non-null    object
 15  num_of_cylinders   205 non-null    object
 16  engine_size        205 non-null    int64
 17  fuel_system        205 non-null    object
 18  bore               205 non-null    object
 19  stroke             205 non-null    object
 20  compression_ratio  205 non-null    float64
 21  horsepower         205 non-null    object
 22  peak_rpm           205 non-null    object
 23  city_mpg           205 non-null    int64
 24  highway_mpg        205 non-null    int64
 25  price              205 non-null    object
dtypes: float64(5), int64(5), object(16)
memory usage: 41.8+ KB

In [6]:
car_df.isnull().sum()

symboling            0
normalized_losses    0
make                 0
fuel_type            0
aspiration           0
num_of_doors         0
body_style           0
drive_wheels         0
engine_location      0
wheel_base           0
length               0
width                0
height               0
curb_weight          0
engine_type          0
num_of_cylinders     0
engine_size          0
fuel_system          0
bore                 0
stroke               0
compression_ratio    0
horsepower           0
peak_rpm             0
city_mpg             0
highway_mpg          0
price                0
dtype: int64

In [7]:
missing_values=["?",np.nan]
car_df=pd.read_csv("https://archive.ics.uci.edu/ml/machine-learning-databases/autos/imports-85.data",names = col,na_values=missing_values)

In [8]:
car_df.isnull().sum().sort_values(ascending=False)

normalized_losses    41
price                 4
stroke                4
bore                  4
peak_rpm              2
num_of_doors          2
horsepower            2
engine_type           0
highway_mpg           0
city_mpg              0
compression_ratio     0
fuel_system           0
engine_size           0
num_of_cylinders      0
symboling             0
height                0
width                 0
length                0
wheel_base            0
engine_location       0
drive_wheels          0
body_style            0
aspiration            0
fuel_type             0
make                  0
curb_weight           0
dtype: int64

In [9]:
car_df=car_df.drop("normalized_losses",axis=1)
car_df=car_df.drop("make",axis=1)
car_df=car_df.drop("body_style",axis=1)
car_df=car_df.drop("num_of_cylinders",axis=1)
car_df=car_df.drop("fuel_system",axis=1)
car_df=car_df.drop("symboling",axis=1)
car_df=car_df.drop("engine_type",axis=1)

In [10]:
car_df

,fuel_type,aspiration,num_of_doors,drive_wheels,engine_location,wheel_base,length,width,height,curb_weight,engine_size,bore,stroke,compression_ratio,horsepower,peak_rpm,city_mpg,highway_mpg,price
0,gas,std,two,rwd,front,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,13495.0
1,gas,std,two,rwd,front,88.6,168.8,64.1,48.8,2548,130,3.47,2.68,9.0,111.0,5000.0,21,27,16500.0
2,gas,std,two,rwd,front,94.5,171.2,65.5,52.4,2823,152,2.68,3.47,9.0,154.0,5000.0,19,26,16500.0
3,gas,std,four,fwd,front,99.8,176.6,66.2,54.3,2337,109,3.19,3.40,10.0,102.0,5500.0,24,30,13950.0
4,gas,std,four,4wd,front,99.4,176.6,66.4,54.3,2824,136,3.19,3.40,8.0,115.0,5500.0,18,22,17450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
200,gas,std,four,rwd,front,109.1,188.8,68.9,55.5,2952,141,3.78,3.15,9.5,114.0,5400.0,23,28,16845.0
201,gas,turbo,four,rwd,front,109.1,188.8,68.8,55.5,3049,141,3.78,3.15,8.7,160.0,5300.0,19,25,19045.0
202,gas,std,four,rwd,front,109.1,188.8,68.9,55.5,3012,173,3.58,2.87,8.8,134.0,5500.0,18,23,21485.0
203,diesel,turbo,four,rwd,front,109.1,188.8,68.9,55.5,3217,145,3.01,3.40,23.0,106.0,4800.0,26,27,22470.0
204,gas,turbo,four,rwd,front,109.1,188.8,68.9,55.5,3062,141,3.78,3.15,9.5,114.0,5400.0,19,25,22625.0

In [11]:
car_df["fuel_type"].value_counts()

gas       185
diesel     20
Name: fuel_type, dtype: int64

In [12]:
car_df["fuel_type"]=car_df["fuel_type"].map({'gas':1, 'diesel':0})

In [13]:
car_df["aspiration"].value_counts()

std      168
turbo     37
Name: aspiration, dtype: int64

In [14]:
car_df["aspiration"]=car_df["aspiration"].map({'std':1, 'turbo':0})

In [15]:
car_df["num_of_doors"].value_counts()

four    114
two      89
Name: num_of_doors, dtype: int64

In [16]:
car_df["num_of_doors"]=car_df["num_of_doors"].map({'four':1, 'two':0})

In [17]:
car_df["drive_wheels"].value_counts()

fwd    120
rwd     76
4wd      9
Name: drive_wheels, dtype: int64

In [18]:
car_df['drive_wheels'] = car_df['drive_wheels'].replace('4wd','fwd')

In [19]:
car_df["drive_wheels"]=car_df["drive_wheels"].map({'fwd':1, 'rwd':0})

In [20]:
car_df["engine_location"].value_counts()

front    202
rear       3
Name: engine_location, dtype: int64

In [21]:
car_df["engine_location"]=car_df["engine_location"].map({'front':1, 'rear':0})

In [22]:
car_df["curb_weight"]=car_df["curb_weight"].astype("float64")
car_df["engine_size"]=car_df["engine_size"].astype("float64")
car_df["city_mpg"]=car_df["city_mpg"].astype("float64")
car_df["highway_mpg"]=car_df["highway_mpg"].astype("float64")

In [23]:
car_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205 entries, 0 to 204
Data columns (total 19 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   fuel_type          205 non-null    int64
 1   aspiration         205 non-null    int64
 2   num_of_doors       203 non-null    float64
 3   drive_wheels       205 non-null    int64
 4   engine_location    205 non-null    int64
 5   wheel_base         205 non-null    float64
 6   length             205 non-null    float64
 7   width              205 non-null    float64
 8   height             205 non-null    float64
 9   curb_weight        205 non-null    float64
 10  engine_size        205 non-null    float64
 11  bore               201 non-null    float64
 12  stroke             201 non-null    float64
 13  compression_ratio  205 non-null    float64
 14  horsepower         203 non-null    float64
 15  peak_rpm           203 non-null    float64
 16  city_mpg           205 non-null    float64
 17  highway_mpg        205 non-null    float64
 18  price              201 non-null    float64
dtypes: float64(15), int64(4)
memory usage: 30.6 KB

In [24]:
car_df=car_df.dropna()

In [25]:
car_df.shape

(193, 19)

In [26]:
X = car_df.drop('price', axis=1)

In [27]:
y = car_df['price']

In [28]:
from sklearn.model_selection import train_test_split

In [29]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state=1)
regression_model = LinearRegression()
regression_model.fit(X_train, y_train)
print(regression_model.score(X_test, y_test))

0.8933331417047847