In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df=pd.read_csv("letterdata.csv")

In [4]:
df.head()

,letter,xbox,ybox,width,height,onpix,xbar,ybar,x2bar,y2bar,xybar,x2ybar,xy2bar,xedge,xedgey,yedge,yedgex
0,T,2,8,3,5,1,8,13,0,6,6,10,8,0,8,0,8
1,I,5,12,3,7,2,10,5,5,4,13,3,9,2,8,4,10
2,D,4,11,6,8,6,10,6,2,6,10,3,7,3,7,3,9
3,N,7,11,6,6,3,5,9,4,6,4,4,10,6,10,2,8
4,G,2,1,3,1,1,8,6,6,6,6,5,9,1,7,5,10

In [6]:
df.shape

(20000, 17)

In [9]:
df.isnull().sum()

letter    0
xbox      0
ybox      0
width     0
height    0
onpix     0
xbar      0
ybar      0
x2bar     0
y2bar     0
xybar     0
x2ybar    0
xy2bar    0
xedge     0
xedgey    0
yedge     0
yedgex    0
dtype: int64

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20000 entries, 0 to 19999
Data columns (total 17 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   letter  20000 non-null  object
 1   xbox    20000 non-null  int64
 2   ybox    20000 non-null  int64
 3   width   20000 non-null  int64
 4   height  20000 non-null  int64
 5   onpix   20000 non-null  int64
 6   xbar    20000 non-null  int64
 7   ybar    20000 non-null  int64
 8   x2bar   20000 non-null  int64
 9   y2bar   20000 non-null  int64
 10  xybar   20000 non-null  int64
 11  x2ybar  20000 non-null  int64
 12  xy2bar  20000 non-null  int64
 13  xedge   20000 non-null  int64
 14  xedgey  20000 non-null  int64
 15  yedge   20000 non-null  int64
 16  yedgex  20000 non-null  int64
dtypes: int64(16), object(1)
memory usage: 2.6+ MB

In [11]:
df["letter"].value_counts()

U    813
D    805
P    803
T    796
M    792
A    789
X    787
Y    786
N    783
Q    783
F    775
G    773
E    768
B    766
V    764
L    761
R    758
I    755
O    753
W    752
S    748
J    747
K    739
C    736
H    734
Z    734
Name: letter, dtype: int64

In [12]:
X=df.drop('letter', axis=1)

In [13]:
y=df["letter"]

In [14]:
from sklearn.model_selection import train_test_split

In [15]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=1)

In [16]:
from sklearn import svm

In [18]:
p=svm.SVC()

In [19]:
p.fit(X_train,y_train)

SVC()

In [20]:
k=p.predict(X_test)

In [22]:
from sklearn.metrics import classification_report

In [23]:
print(classification_report(y_test,k))

              precision    recall  f1-score   support

           A       0.98      0.96      0.97       233
           B       0.80      0.89      0.84       242
           C       0.96      0.90      0.93       227
           D       0.81      0.94      0.87       233
           E       0.85      0.91      0.88       214
           F       0.88      0.92      0.90       219
           G       0.82      0.89      0.85       229
           H       0.90      0.78      0.83       234
           I       0.94      0.92      0.93       199
           J       0.96      0.89      0.92       200
           K       0.86      0.91      0.89       197
           L       1.00      0.89      0.94       207
           M       0.92      0.97      0.94       229
           N       0.95      0.92      0.93       237
           O       0.91      0.88      0.90       259
           P       0.99      0.84      0.91       262
           Q       0.94      0.97      0.96       234
           R       0.79      0.90      0.84       224
           S       0.95      0.93      0.94       256
           T       0.98      0.90      0.94       252
           U       0.97      0.96      0.96       240
           V       0.98      0.93      0.95       218
           W       0.91      0.96      0.94       228
           X       0.93      0.93      0.93       237
           Y       0.97      0.98      0.98       256
           Z       0.98      0.97      0.97       234

    accuracy                           0.92      6000
   macro avg       0.92      0.92      0.92      6000
weighted avg       0.92      0.92      0.92      6000

In [27]:
pd.crosstab(y_test,k)

col_0,A,B,C,D,E,F,G,H,I,J,...,Q,R,S,T,U,V,W,X,Y,Z
letter,,,,,,,,,,,,,,,,,,,,,
A,224,0,1,1,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,1,0
B,1,216,0,5,1,1,3,0,0,0,...,0,11,1,0,0,0,0,2,0,0
C,0,0,205,0,8,0,4,0,0,0,...,0,0,0,0,1,0,0,0,0,0
D,0,7,0,220,0,0,0,1,0,0,...,0,3,0,0,0,0,0,0,0,0
E,0,2,0,0,195,0,11,0,0,0,...,1,1,1,0,0,0,0,1,0,2
F,0,2,0,1,2,201,2,1,3,0,...,0,0,0,4,0,0,0,0,0,0
G,0,0,3,3,2,1,203,0,0,0,...,3,1,0,0,0,1,3,0,0,0
H,0,8,0,10,0,2,1,182,0,0,...,1,16,0,0,2,2,0,1,2,0
I,0,0,1,3,0,3,0,0,183,6,...,0,0,0,0,0,0,0,2,0,1
J,0,0,0,2,1,1,0,2,7,178,...,0,0,5,0,0,0,0,1,0,0
K,0,1,1,1,2,0,0,2,0,0,...,0,6,0,0,0,0,0,4,0,0
L,0,2,2,0,7,0,2,1,0,0,...,0,3,1,0,0,0,0,3,0,0
M,0,2,0,0,0,0,1,0,0,0,...,0,2,0,0,0,0,1,0,0,0
N,0,2,0,5,0,0,0,3,0,0,...,0,3,0,0,0,0,0,0,0,0
O,0,0,0,8,0,0,0,0,0,0,...,7,3,0,0,2,0,10,0,0,0
P,0,1,0,4,0,18,9,2,1,0,...,1,2,0,0,0,0,0,0,3,0
Q,1,0,0,0,0,0,2,1,0,0,...,228,0,1,0,0,0,0,0,0,0
R,0,8,0,3,2,0,0,1,0,0,...,0,201,0,0,0,0,0,0,0,0
S,0,8,0,0,3,2,1,0,0,0,...,0,2,239,0,0,0,0,0,0,1
T,0,1,0,1,1,0,8,6,0,0,...,0,1,1,226,0,0,0,2,0,0
U,0,0,0,0,0,0,0,1,0,0,...,0,0,0,0,230,0,3,0,0,0
V,2,8,0,1,0,0,0,0,0,0,...,0,1,0,0,0,202,4,0,0,0
W,0,3,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,220,0,0,0
X,0,0,0,5,3,0,0,0,0,1,...,1,0,0,0,0,0,0,220,1,0
Y,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,0,1,251,0
Z,1,0,0,0,3,0,0,0,0,0,...,1,0,3,0,0,0,0,0,0,226